<header class="site-header">
  <div class="container">
    <h2 class="logo">{{ shop.name }}</h2>
    <nav class="main-menu">
      <a href="/collections/all">Shop</a>
      <a href="/collections/supplements">Supplements</a>
      <a href="/collections/vitamins">Vitamins</a>
      <a href="/collections/herbal">Herbal</a>
      <a href="/collections/skin-care">Skin Care</a>
      <a href="/collections/hair-care">Hair Care</a>
      <a href="/collections/wellness">Wellness</a>
    </nav>
  </div>
</header>
